@media (max-width: 375px) {
  body {
    background-image: url(images/pattern-background-mobile.svg);
  }
}
@media (min-width: 376px) {
  body {
    background-image: url(images/pattern-background-desktop.svg);
  }
}
body,
.flex-container {
  height: 100vh;
}
body {
  font-family: "Red Hat Display", sans-serif;
  background-repeat: repeat-x;
}
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  background-color: white;
  height: 650px;
  width: 450px;
  box-shadow: 5px 10px 30px hsl(224, 29%, 61%);
}
.card,
.plan-container {
  border-radius: 15px;
}
.hero-img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 15px 15px 0px 0px;
}
.card-title {
  color: hsl(223, 47%, 23%);
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  margin-top: 40px;
}
.summary-description {
  text-align: center;
  font-size: 16px;
  margin: 10px 40px;
  font-weight: 500;
}
.plan-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #f8f9fe;
  height: 85px;
  margin: 20px 50px;
}
.plan-title {
  color: hsl(223, 47%, 23%);
  margin-top: 10px;
  margin-bottom: 5px;
}
.plan-title-and-price {
  position: relative;
  right: 50px;
}
.plan-price {
  margin-top: 5px;
}
.change {
  color: hsl(245, 75%, 52%);
  text-decoration: underline;
}
.change:hover {
  color: #766cf1;
}
.music-icon {
  position: relative;
  right: 10px;
}
.proceed-btn {
  background-color: hsl(245, 75%, 52%);
  height: 50px;
  text-align: center;
  margin: 30px 50px;
  border-radius: 12px;
  box-shadow: 3px 10px 15px hsla(245, 75%, 52%, 0.397);
}
.proceed-btn:hover {
  background-color: #766cf1;
}
.proceed-text {
  color: white;
  font-weight: 700;
}
.cancel {
  text-align: center;
  font-weight: 700;
}
.cancel:hover {
  color: hsl(223, 47%, 23%);
}
p {
  color: hsl(224, 23%, 55%);
}
